@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #999;
  background-color: rgba(238, 238, 238, 0.2);
}

/* -------------------- General -------------------- */
.bold {
  font-weight: bold;
}

/* -------------------- Register Component -------------------- */
.regMain {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(123, 228, 193, 0.404);
  margin-top: 40px;
}
.regAndLoginDiv {
  width: 350px;
  height: 600px;
  background-color: rgba(204, 94, 167, 0.685);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.regDiv {
  width: 300px;
  height: 360px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #eee;
  padding: 20px;
}
.regLoginDiv {
  margin: 0 auto;
  background-color: white;
  border: 1px solid #eee;
}

.instaLetters {
  width: 175px;
}
.signupMsg {
  font-weight: bold;
  font-size: 17px;
}
.regInput {
  width: 258px;
  height: 36px;
  padding: 1px 0 1px 8px;
  margin: 3px;
  background-color: rgba(238, 238, 238, 0.479);
  border: 1px solid #eee;
  border-radius: 3px;
}
.regSubmit {
  width: 268px;
  height: 28px;
  padding: 2px;
  margin: 3px;
  font-family: Arial, sans-serif, sans-serif;
  background-color: #458eff;
  border: 1px solid #458eff;
  border-radius: 3px;
  font-weight: bold;
  color: white;
  font-size: 14px;
}
.terms {
  font-size: 14px;
}

/* -------------------- nav bar -------------------- */
nav {
  border-bottom: 1px solid #ddd;
  margin-top: 20px;
  padding-bottom: 20px;
}
.logoDiv {
  /* background-color: #ddd; */
  display: inline-flex;
  margin: 4px;
}
.logo {
  padding-right: 20px;
  height: 29px;
  width: 29px;
}
.verticalLine {
  border-left: 1px solid #aaa;
  padding-left: 20px;
  height: 35px;
}
.instaLettersProfile {
  height: 38px;
}
.searchbar {
  text-align: center;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  height: 25px;
  background-color: rgb(248, 245, 245);
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-left: 40px;
  margin-right: 40px;
}

/* -------------------- Profile Component -------------------- */
.profileBlurb {
  width: 935px;
  margin: 0 auto;
  color: black;
}
.profileImage {
  width: 293px;
  height: 293px;
  margin: 12px;
}
.profileHR {
  width: 935px;
  color: #ddd;
  border: 1px solid #ddd;
  margin-top: 50px;
  margin-bottom: 50px;
}
.profileP {
  margin: 0 auto;
  display: inline-flex;
  padding: 10px;
  justify-content: center;
}